---
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<ul class="space-y-1.5 my-4">
  {items.map((item) => (
    <li class="flex items-start gap-2.5">
      <span class="mt-1 flex-shrink-0 w-[18px] h-[18px] border-2 border-border-strong rounded-sm"></span>
      <span class="text-sm">{item}</span>
    </li>
  ))}
</ul>
